{% extends 'todo/base.html' %}

{% block content %}
<div>
    <h2>All Records</h2>
    <a href="{% url 'todo.create' %}">+ Create </a>

    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Task</th>
                <th>Status</th>
                <th>Reminder</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.label }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.reminder }}</td>
                <td>{{ record.created_at }}</td>
                <td>{{ record.updated_at }}</td>
                <td>
                    <a href="{% url 'todo.show' record.id %}">Details</a>
                    <a href="{% url 'todo.edit' record.id %}">Change</a>
                    <a href="#" onclick="if(confirm('Are you sure want to delete?')){document.getElementById('delete-{{ record.id }}').submit();}">Remove</a>

                    <form action="{% url 'todo.delete' record.id %}" method="post" id="delete-{{ record.id }}">
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}