{% extends 'todo/base.html' %}

{% block content %}
<div>
    <h2>All Records</h2>
    <a href="{% url 'todo.create' %}">+ Create </a>

    <table>
        <thead>
            <tr>
                <th>SL</th>
                <th>Task</th>
                <th>Status</th>
                <th>Reminder</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.label }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.reminder }}</td>
                <td>
                    <a href="{% url 'todo.edit' %}">Details</a>
                    <a href="#">Change</a>
                    <a href="#">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}